<?php ?>
<!doctype html>
<html>
    <head>
        <title>adminpaneel</title>
        <link rel="stylesheet" href="Src/Presentation/css/styles.css"/>
    </head>
    <body>
        <header><div class="container"><h1>Admin Paneel</h1></div></header>
        <div class="container adminpaneel">
            <h3>drankenlijst</h3>
            <ul>
            {% for drank in dranken%}
                <li>
                    <div>
                       {{drank.type}}  aantal:  {{drank.aantal}}
                    </div>
                </li>
            {%endfor%}
            </ul>

            <h3 class=" adminmunten">Munten</h3>
{% for munt in munten%}
            <div class="clearL float">
            {{munt.aantal}} x &euro; {{munt.waarde/100}}<div class="float clearL muntdiv"><img class= "muntimg" src="img/{{munt.waarde}}.png"></div>
            </div>
{%endfor%}

          <div class=" clearL">  <a href="drankbijvullen.php"><button>bijvullen</button></a>
            <a href="geldophalen.php"><button>geldlade leegmaken</button></a>
            <a href="wisselgeldinsteken.php"><button>wisselgeld insteken</button></a>
            <a href="adminlogin.php?action=loguit"><button>Log uit</button></a></div class=" clearL">
        </div>
        <footer>
            <div class= "container">Deze site is een van de projecten die ik heb gemaakt tijdens de VDAB opleiding PHP ontwikkelaar.</div>
        </footer>
    </body>
</html>
