{% extends 'base.twig'%}
        {%block title%}
Frisdrankautomaat
        {%endblock%}
{%block header%}
<div class="container">
    <h1>Frisdrankautomaat</h1>
</div>
{%endblock header%}
{%block content%}

<!-- Automaat -->
<div id="automaat">
    <div>
        <!-- imgmap -->
        <img class="imgmap" alt="vendingmachine" src="img/vendingmachine.jpg" usemap="#vendingmachine" height="600" width="600">
        <map name="vendingmachine">
                    {% for frisdrank in frisdranken %}
                        {%if frisdrank.aantal!=0%}
            <!-- aanwezig -->
            <area id="{{frisdrank.id}}" name="{{frisdrank.type}}" title="{{frisdrank.type}}" shape="rect" coords="{{frisdrank.coords}}" href="automaatcontroller.php?action=kopen&id={{frisdrank.id}}&prijs={{frisdrank.prijs}}" >

                        {%endif%}
                    {% endfor %}
            <area shape="rect" alt="admintoegang" title="admin toegang" coords="394,93,427,133" href="adminlogin.php"/>
            <area shape="circle" alt="geld terug" title="geld terug" coords="394,185,5" href="automaatcontroller.php?action=geldterug"/>
            <area shape="rect" id="ingave" alt="steek hier je geld" title="steek hier je geld" coords="410,170,430,200" href=""/>
        </map>
      
       
    </div>
</div>


<!-- LEEG indicator -->
<div class="leegholder"> {%for frisdrank in frisdranken%}
    {%if frisdrank.aantal==0%}
    <label class="leeg">LEEG</label> 
    {%else%}
    <label class="leeg"></label> 
{%endif %}
{%endfor%}</div>

<!-- saldolabel -->
<label  id="saldo">  {{(totaalsaldo/100)|number_format(2, '.', ',')}}</label>
<!-- teruggave overzicht -->
      {% if teruggave.munten is not null %}
<table border="1" class="teruggave">
    <tr><th colspan="3"  >
            Teruggave</th></tr>
                  {% for key,aantal in teruggave.munten %}
    <tr>
        <td>{{aantal}}</td><td> x </td><td><img class= "muntimg" src="img/{{key}}.png"></td>

    </tr>
                {%endfor%}
</table>
    {%endif%}

<!-- geldknoppen -->
<div class='portefeuille'>
    <div class="muntenholder">
                    {% for munt in munten %}
        <a href="automaatcontroller.php?action=steekgeldin&id={{munt.id}}"><div class="muntdiv"><img  id ="{{munt.id}}"  class="muntimg" alt="{{munt.waarde}}" src="img/{{munt.waarde}}.png"></div></a>
                {%endfor%}
        <label>Click a coin or drag it to the coinslot</label>
    </div>
</div>


  <!-- errorrmsg -->
            {% if error is defined %}
                {% if error=="drankop" %}
        <p class="error">de drank die je koos is op</p>
                {%elseif error=="telaagsaldo"%}
        <p class="error">niet genoeg geld ingegeven</p>
                {%elseif error=="geenwisselgeld"%}
        <p class="error">niet genoeg wisselgeld! Gepast betalen!!!</p>
                {% endif %}
            {% endif %}
        {% if aankoop ==true %}
<div class="canimgholder" style="display:inline-block"><img src="img/coke-can.jpg"> </div>
{%endif%}
        {%endblock%}

