{% extends 'base.twig'%}
        {%block title%}
Frisdrankautomaat
        {%endblock%}
{%block styles%}
  <link rel="stylesheet" href="Src/Presentation/css/styles.css"/>
{%endblock%}
{%block header%}
    <div class="container">
        <h1>Frisdrankautomaat</h1>
    </div>
{%endblock header%}
{%block content%}

    <!-- drankenlijst -->
    <div id="automaat">
        <div>
            <!-- imgmap -->
            <!-- <img class="imgmap" alt="vendingmachine" src="img/vendbijgeknipt.png" usemap="#vendingmachine" height="456" width="456"> -->
            <img class="imgmap" alt="vendingmachine" src="img/vendingmachine.jpg" usemap="#vendingmachine" height="600" width="600">
            <map name="vendingmachine">
                    {% for frisdrank in frisdranken %}
                        {%if frisdrank.aantal!=0%}
                <!-- aanwezig -->
                <area id="{{frisdrank.id}}" name="{{frisdrank.type}}" title="{{frisdrank.type}}" shape="rect" coords="{{frisdrank.coords}}" href="automaatcontroller.php?action=kopen&id={{frisdrank.id}}&prijs={{frisdrank.prijs}}" >

                        {%endif%}
                    {% endfor %}
                <area shape="rect" alt="admintoegang" title="admin toegang" coords="394,93,427,133" href="adminlogin.php"/>
                <area shape="circle" alt="geld terug" title="geld terug" coords="394,185,5" href="automaatcontroller.php?action=geldterug"/>
            </map>
        </div>
    </div>
                       
    <div class="leegholder"> {%for frisdrank in frisdranken%}
    {%if frisdrank.aantal==0%}
         <label class="leeg">LEEG</label> 
{%endif %}
{%endfor%}</div>
                <!-- LEEG indicator -->

    <!-- geldknoppen -->
    <div class='portefeuille'>
        <div class="muntenholder">
                    {% for munt in munten %}
            <a href="automaatcontroller.php?action=steekgeldin&id={{munt.id}}"><div class="muntdiv"><img  class="muntimg" alt="{{munt.waarde}}" src="img/{{munt.waarde}}.png"></div></a>
                {%endfor%}
        </div>
    </div>
    <!-- saldolabel -->
    <label  for="for" value="value"><span id="saldo">ingeworpen saldo: &euro; {{totaalsaldo/100}}</span>
    </label>
    <!-- teruggave overzicht -->
                {% if teruggave.munten is not null %}
    <div clas="teruggave">       
                    {% for key,aantal in teruggave.munten %}
        <div class="aantal clearL">{{aantal}} X &euro;{{key/100}}<div class="float clearL muntdiv"><img class= "muntimg" src="img/{{key}}.png"></div></div>
                    {% endfor %}
    </div>
                {% endif %}
    <!-- errorrmsg -->
            {% if error is defined %}
                {% if error=="drankop" %}
    <p>de drank die je koos is op</p>
                {%elseif error=="telaagsaldo"%}
    <p>niet genoeg geld ingegeven</p>
                {%elseif error=="geenwisselgeld"%}
    <p>niet genoeg wisselgeld! Gepast betalen!!!</p>
                {% endif %}
            {% endif %}
        {%endblock%}

